h1, h2, h3
{
	font-family: 'Poiret One', cursive;
}

code
{
	background-color: #111;
	color: #fff;
}

.parallax-container 
{
   width: 100%;
   height: 99vh;
}
        
.logo
{
	width: 100%;
}

.relation
{
	font-weight: bold;
}

.custborder
{
	border-top: 1px;
	border-color: red;
}

.custom-p
{
	font-family: 'Rancho', cursive;
	font-size: 2em;
}

.custom-p:first-letter {
font-size: 3.5em;
line-height: 1em;
}
.footerbg
{
	background-color: #111;
}

/*Bak Grounds */

.bg1
{
	background-color: #FF7800;
	background-image: url("../images/bg/stardust.png");
	color: #fff;
	font-family: 'Poiret One', cursive;
}

/*font-family: 'Poiret One', cursive;*/

.wrapforhead
{
	margin-left: 0;
	width: 100%;
}